.dashboard-nutri {

  .sidebar {
    background-color: $accent2 !important;
    color: white !important;

    .nav-link {
      color: white !important;

      &:hover {
        opacity: 0.8;
      }
    }

    h5 {
      color: white;
    }
  }
}

