<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Visualizar cliente</title>
</head>

<body>
	<h1>Visualizar cliente</h1>
	<br>

	<table border="0">
		<tr>
			<td>Id</td>
			<td>:</td>
			<td th:text="${clienteDTO.id}"></td>
		</tr>
		<tr>
			<td>Nombre</td>
			<td>:</td>
			<td th:text="${clienteDTO.nombre}"></td>
		</tr>
		<tr>
			<td>Apellidos</td>
			<td>:</td>
			<td th:text="${clienteDTO.apellido}"></td>
		</tr>
		<tr>
			<td>Correo electrónico</td>
			<td>:</td>
			<td th:text="${clienteDTO.email}"></td>
		</tr>
		<tr>
			<td>Edad</td>
			<td>:</td>
			<td th:text="${clienteDTO.edad}"></td>
		</tr>
		<tr>
			<td>Peso (kg)</td>
			<td>:</td>
			<td th:text="${clienteDTO.pesoActual}"></td>
		</tr>
		<tr>
			<td>Altura (m)</td>
			<td>:</td>
			<td th:text="${clienteDTO.altura}"></td>
		</tr>
		<tr>
			<td>Objetivo</td>
			<td>:</td>
			<td th:text="${clienteDTO.objetivo}"></td>
		</tr>
		<tr>
			<td>Actividad</td>
			<td>:</td>
			<td th:text="${clienteDTO.actividad}"></td>
		</tr>
		<tr>
			<td>Preferencias</td>
			<td>:</td>
			<td th:text="${clienteDTO.preferencias}"></td>
		</tr>
		<tr>
			<td>Fecha Registro</td>
			<td>:</td>
			<td th:text="${#dates.format(clienteDTO.fechaRegistro, 'dd/MM/yyyy')}"></td>
		</tr>
	</table>

	<br><br>
	<a th:href="@{/clientes}">Volver a la lista de clientes</a>

</body>

</html>
